.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 200px;
  margin-bottom: 8px;
}
h3 {
  margin-bottom: 0;
}
table {
  font-size: 12px;
  border-collapse: collapse;
}
table,
td,
th {
  border: 1px solid #ffffff65;
  padding: 5px;
}
.counter {
  display: flex;
  justify-content: space-between;
}
.counter p {
  margin: 20px;
  font-size: 14px;
  text-align: left;
}
.counter p span {
  display: block;
  font-size: 18px;
}
.scroll {
  max-width: 100%;
  overflow-x: auto;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
